* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rbga(104, 104, 104, 104, 0.8);
}

.nav {
  background-color: white;
  padding: 0 2rem;
  height: 0rem;
  overflow: hidden;
  height: 9vh;
  transition: all 0.8s ease-in-out;
}





.header {
  margin-top: 50px;
  width: 100vw;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;

}
.headerTitleSm {
  position: absolute;
  top: 18%;
  font-size: 20px;
}
.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
}
.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 90px;
  object-fit: cover;
}

.headerBtn {
  /* text-align: center; */
  position: absolute;
  top: 56%;
  /* left:24%; */
  left: 44%;
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1.1rem;
  color: rgb(246 235 231);
  letter-spacing: 2px;
  cursor: pointer;
  /* font-weight: 600; */
  background: linear-gradient(to top, #444 0%, #537895 100%);
}
@media (max-width:660px)
{
  .headerBtn{
    left: 28%;
  }
}
.headerBtn:hover {
  background: transparent;
  border: 1px solid white;
  color: rgb(60, 255, 0);
}

header {
    background-color: rgb(63, 79, 94);
    border: 2px thick black;
    position: sticky;
    top: 0;
  }

  .navigation {
    width: 100%;
    height: 70px;
    text-align: center;
    justify-content: space-between;
    background-color: aliceblue;
    overflow: auto;
    margin-top: 10px ;
    
  }

  .navigation ul{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }

  .navigation ul li {
    list-style: none;
    margin: 5px 20px;
  }
  .navigation ul li a{
    text-decoration: none;
    color: black;
    
  }
  .navigation ul li a:hover{
    color:blueviolet;
  }
  .navigation li img{
    margin-bottom: 4px;
    width: 60px;
    height: 45px;
  }
  #searchtab{
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  }

/* GALLERY */
.gallery {
  margin-top: 6rem;
  display: grid;
  margin: 30px 10px 0rem 10px;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.gallery .image {
  margin-right: 1rem;
  height: 360px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-left: 0px;
  overflow: hidden;
  background-color: rgb(155, 105, 155);
  position: relative;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}
.gallery .image-1 {

  background: url(https://source.unsplash.com/fZ2hMpHIrbI);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery .image-2 {
  background: url(https://source.unsplash.com/lg4fM9Y2pGg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .image-3 {
  background: url(https://source.unsplash.com/z1d-LP8sjuI);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .image-4 {
  background: url(https://source.unsplash.com/fzqxoFJytiE);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery .facility-btn {
  position: absolute;
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  border: none;
  top: 35%;
  cursor: pointer;
  background-color: rgb(147, 126, 241);
  opacity: 0;
  transition: all 0.3s linear;
}

.gallery .facility-btn::before {
  content: "";
  top: 0;
  left: 0;
  height: 0%;
  background-color: rgba(126, 46, 46, 0.3);
  width: 100%;
  position: absolute;
  transition: all 0.4s ease;
}
.gallery .facility-btn:hover::before {
  height: 100%;
}
.gallery .image-1:hover .facility-btn,
.gallery .image-2:hover .facility-btn,
.gallery .image-3:hover .facility-btn,
.gallery .image-4:hover .facility-btn
 {
  opacity: 1;
  top: 45%;
}




.gallery .tag {
  position: absolute;
  width: 100%;
  height: 20%;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  font-size: 2rem;
  display: flex;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.7);
  color: white;
  justify-content: center;
  transition: all 0.3s linear;
  top: 85%;
  opacity: 0;
}
.gallery .image-1:hover .tag,
.gallery .image-2:hover .tag,
.gallery .image-3:hover .tag,
.gallery .image-4:hover .tag {
  opacity: 1;
  top: 85%;
}

/* ABOUT */
.about {
  margin-top: 30px;
  /* margin-bottom: 100vh; */
}
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}

/* showcase */
/* USe grid for layoyt and flexbox to align things inside of those elements */
.showcase {
  grid-area: showcase;
  min-height: 300px;
  background: url(https://source.unsplash.com/8R-mXppeakM);

  position: relative;
  opacity: 0.67;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  background-size: cover;
  padding: 2.5rem;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: var(--shadow);
}
.showcase h1 {
  font-size: 2rem;
  color: rgb(255, 231, 17);
  letter-spacing: 1px;
  margin-bottom: 0;
}
.showcase p {
  width: 500px;
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 0;
  color:white;
  line-height: 30px;
  letter-spacing: 1px;
}
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  
  box-shadow: var(--shadow);
  padding: 1rem;
}
.top-box .p {
  font-size: 1.5rem;
}
.top-box-a {
  grid-area: top-box-a;
}
.top-box-b {
  grid-area: top-box-b;
}

.btn {
  background-color: var(--dark);
  color: var(--light);
  /* 1rem= 16px -->By Default */
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}



/* BOXES */
.boxes {
    margin-top: 20px;
    display: grid;
    grid-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
  }

  @media (max-width: 700px) {
    .top-container {
        grid-template-areas:
          "showcase showcase"
          "top-box-a top-box-b";
      }
      .showcase h1 {
        font-size: 2rem;
      }
  }
  
@media (max-width: 500px) {
    .top-container {
      grid-template-areas:
        "showcase "
        "top-box-a"
        "top-box-b";
    }
  }
  

/********************************************************
CONTACT
**********************************************************/
.container-contact{
  background-color: black;
  padding: 50px;
  margin-top: 50px;
  text-align: center;
  line-height: 30px;
  color: white;
}

.div-upper
{
  display: flex;
  justify-content: center;
}
.contact-upper{
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
  width: 70%;
}

.c-1,.c-2,.c-3
{
  min-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  align-items: center;

}
.c-1 i, .c-2 i,.c-3 i
{
  color: #252525;
  background-color: white;
  transform: scale(2);
  /* text-align: center; */
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 60%;
}
.c-1 p, .c-2 p,.c-3 p{
  padding-top: 30px;

}



form input,form textarea{
  border: none;
  border-bottom: 2px solid rgb(230, 227, 227);
  /* border-radius: 20px; */
  width: 100%;
  left: 0%;
  height: 100px;
  top: 0%;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 100;

}

.contact{
  /* margin-top: 0px; */
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .contactForm
{
  position: relative;
  width: 700px;
  margin-top: 20px;
}
.contact .contactForm .row{
  width: 100%;
  display: flex;
}
.contact .contactForm .row .col50
{
  width: 50%;
  margin: 10px;
}
.contact .contactForm .row .col100
{
  width: 100%;
  margin: 10px;
  text-align: center;
}
.contact .contactForm .row input,
.contact .contactForm .row textarea
{
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 16px;
}

.contact .contactForm .row textarea
{
  height: 100px;

}

.contact .contactForm .row input[type ="submit"]
{
  background: #00bbd4;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  font-size: 500;
  letter-spacing: 2px;
  cursor: pointer;
  max-width: 150px;

}
.div-upper
{
  /* padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px; */

}
@media(max-width:900px)
{
  .contact-upper
  {
      display: block;
      justify-content: center;
      margin-left: 0px;
  
      /* padding-top: 30px; */
  }
}
@media(max-width:995px)
{
  .container-contact h2{
      padding-bottom: 30px;
  }


  .c-1,.c-2,.c-3 p{
      padding-bottom: 25px;

  }

  .contact .contactForm{
      width: 100%;
  }

  .contactForm .row{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
  }
  .contact .contactForm .row .col50
  {
      width: 100%;
      margin: 10px;
  }

}

